<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodInWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F50346791BF2A0D500D78CEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F503468D1BF2A0D600D78CEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50346981BF2A0D600D78CEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
